<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather Data API</title>
</head>
<body>
<h1>Weather Data API</h1>
<p>URL format: http://127.0.0.1:5000/api/v1/station/date</p>
<p>URL example - for one station for one date: http://127.0.0.1:5000/api/v1/10/19880202</p>
<p>URL example - for one station for all dates: http://127.0.0.1:5000/api/v1/10</p>
<p>URL example - for one station for all dates: http://127.0.0.1:5000/api/v1/year/10/1998</p>

<!--shortcut "command + D" to duplicate the line where cursor is located-->


<p>{{data|safe}}</p>

<!--Running on http://127.0.0.1:5000-->
<!--the domain name is http://127.0.0.1:5000 locally-->
<!--This 5000 port is occupied-->

</body>
</html>